# Compiled Things
*.o

# Executeables
*.exe

# Outputs and ish
*.txt
*.swp
*.avi
*~
*.log
*.fig
*.jpg
*.mat
*.out

# Directories
Outputs/
Outputs/*
runfiles/
runOPfiles/
analyzedfiles/
data/
data/*
eo/*
sandbox/*
figs/
figs/*

# Certain files
Runner.m
initParams*
